In [12]:
import pandas as pd
#In order to disply the full contents of a column, Iâ€™ve added this line.
pd.set_option('display.max_colwidth', -1)

jeopardy = pd.read_csv("jeopardy.csv")

print(jeopardy.head())
print(jeopardy.info())

   Show Number    Air Date      Round                         Category  Value  \
0  4680         31.12.2004  Jeopardy!  HISTORY                          $200
1  4680         31.12.2004  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES  $200
2  4680         31.12.2004  Jeopardy!  EVERYBODY TALKS ABOUT IT...      $200
3  4680         31.12.2004  Jeopardy!  THE COMPANY LINE                 $200
4  4680         31.12.2004  Jeopardy!  EPITAPHS & TRIBUTES              $200

                                                                                                      Question  \
0  For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory
1  No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves
2  The city of Yuma in this state has a record average of 4,055 hours of sunshine each year
3  In 1963, live on "The Art Linkletter Show", this company served its billionth burger
4  Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States

       Answer
0  Copernicus
1  Jim Thorpe
2  Arizona
3  McDonald's
4  John Adams
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5676 entries, 0 to 5675
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Show Number  5676 non-null   int64
 1    Air Date    5676 non-null   object
 2    Round       5676 non-null   object
 3    Category    5676 non-null   object
 4    Value       5676 non-null   object
 5    Question    5676 non-null   object
 6    Answer      5676 non-null   object
dtypes: int64(1), object(6)
memory usage: 310.5+ KB
None

<ipython-input-12-81436d8bcbfa>:3: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  pd.set_option('display.max_colwidth', -1)

In [14]:
#Renaming columns
jeopardy = jeopardy.rename(columns = {"Air Date": "Air Date",  " Round" : "Round", " Category": "Category", " Value": "Value", " Question":"Question", " Answer": "Answer"})
jeopardy.head()

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4680,31.12.2004,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory",Copernicus
1,4680,31.12.2004,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,"No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves",Jim Thorpe
2,4680,31.12.2004,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,"The city of Yuma in this state has a record average of 4,055 hours of sunshine each year",Arizona
3,4680,31.12.2004,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", this company served its billionth burger",McDonald's
4,4680,31.12.2004,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States",John Adams

### Enabling words filtering.

In [16]:
#The function that filters the dataset for questions that contains all of the words in a list of words.

#The function takes dataframe and desired words as an input.
def data_filter(data, words):
    #Defining lambda function.
    #Lowercases all words in the list of words as well as the questions. 
    #Returns true is all of the words in the list appear in the question.
    filter = lambda x: all(word.lower() in x.lower() for word in words)
    #Applies the labmda function to the Question column and returns the rows where the function returned True.
    return data.loc[data['Question'].apply(filter)]

filtered = data_filter(jeopardy, ["King", "England"])
print(filtered["Question"])

4953    Both England's King George V & FDR put their stamp of approval on this "King of Hobbies"
Name: Question, dtype: object

### Calculating aggregate statistics for Value column.

In [39]:
#Turning values into folats.

#Creates columns Float Value.
jeopardy['Float Value'] = jeopardy['Value']\
    .apply(lambda x: float(x[1:].replace(',', '')) if x != 'None' else 0)
    #If the value of the float column is not "None", 
    #then we cut off the first character (which is a dollar sign),
    #and replace all commas with nothing, and then cast that value to a float. If the answer was "None", then we just enter a 0
    
print(jeopardy['Float Value'].describe())

count    5676.000000
mean     753.064130
std      671.494457
min      0.000000
25%      400.000000
50%      600.000000
75%      1000.000000
max      12000.000000
Name: Float Value, dtype: float64

### Counting unique values.

In [41]:
def unique_answers(data):
    return jeopardy.Answer.value_counts()

print(unique_answers(["King", "England"]).head())

Germany      8
Hawaii       8
Louisiana    7
Alaska       7
Egypt        7
Name: Answer, dtype: int64